$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-white: #fff;
$color-grey: #777;
$color-black: #000;
$color-grey-subtle-1: #f7f7f7;
$color-grey-subtle-2: #999;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;



//color 2
$color-primary:#c69963;
$color-primary-dark:#B28451;


$color-secondary:#101d2c;

$color-grey-light-1:#f9f7f6;
$color-grey-light-2:#aaa;

$color-grey-dark-1:#54483A;
$color-grey-dark-2:#605d4B;
