.header{
    height: 80vh;
    background-image: linear-gradient(rgba(#101d2c,.8),rgba(#101d2c,.9)),url("../../resources/images/headerPic.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;
    

}
.navigation{
    font-size: 1.8rem;
    display: flex;
    justify-content: space-around;
    background-color:#fff;
  /*   position: fixed;
    width: 100%; */
    z-index: 1000;
    box-shadow: 0 1rem 2rem rgba(#101d2c,.8);
  

    &__logo{
        display: flex;
        align-items: center;
       

        &--link{
            color:#000;
           
           

        }

    }
    &__items{
       

    }
    &__orderlist{
        list-style-type: none;
        display: flex; 
        padding: 1.9rem 2rem;
        

    }
    &__list{
        margin-right: 2rem;
      
        
        

    }
    &__link{
        color: #000;
        transition: all .5s;
       
        &:hover{
            border-bottom: 1px solid green;

        }
     
        

    }
    &__auth{
        display: flex;
        align-items: center;

    }

}
