*,
*::after,
*::before {
  padding: 0;
  box-sizing: inherit;
  margin: 0;
}
html {
  font-size: 62.5%;
  body {
    box-sizing: border-box;
    font-family: /* 'Cormorant', */ sans-serif;
    background-image: linear-gradient(to top, #ccc,#ddee);
  }
}
a{
    text-decoration: none;
}

